/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("marble-bg.jpg"); /* This is my background image on the web page. */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 200px auto;
	margin-bottom: 50px;
 	background: rgba(255, 255, 255, .75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: solid 1px #804280;
	border-radius: 25px 25px 0px 0px;
}


   
#logo {
    margin-bottom: 16px;
	border: 0px dotted violet;
	border-radius: 285px;
	text-align: center;
	background: #fff;
	margin-top: -145px; /* This positions the logo to cut in the middle of the top border of the web page box. */
}

h1 {
	/* this is the linear gradient for the header of my web page */
	background: -webkit-linear-gradient(#bf93bf, #804280);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-family: 'Shrikhand', cursive;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #000;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: 'Inter', sans-serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #000;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	font-weight: bold;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Inter', sans-serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #000;
	text-align: justify;
	padding: 30px 50px; /* This gives space between the paragraph text and the light gray background. */
	background: #f2f2f2; 
	margin: 0px 100px;
}

nav{
	font-family: 'Inter', sans-serif;
	font-size: 1.2em;
	width: 375px;
	padding: 5px 0px;
	margin: 0 auto;
	border: 0px solid #a877a8;
	text-align: center;
	margin-top: 2em;
}
    
nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color: #000;
	text-decoration: none;
	background: /* This creates a text gradient on the header of my web page. */
    linear-gradient(
      to right,
      #f2f2f2,
      #f2f2f2
    ),
    linear-gradient(
      to right,
      #bf93bf,
      #a877a8,
      #804280
  );
  background-size: 100% 3px, 0 3px; /* This makes an underline on the links. */
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}


a:hover {
	transition: all .3s ease-in-out; /* This makes the hover effects move gradually. */
	background-size: 0 3px, 100% 3px;
	color: #804280;
	transform: scale(1.1); /* This causes my links to appear to grow in size when hovered. */
}

.boldtext-bio { /* This creates highlighted text for certain words in my paragraph. */
	background: #bf93bf;
	padding: 0px 3px;
}
